h3{
  text-align: center;
  font-family:fantasy;
  font-weight: bolder;
}

p {
  font-family: fantasy;
  font-size: 13px;
  text-align: center;
}

#img {
  max-width:40%;
  height:auto;
}

#container1 {
text-align: center;
padding-left: 13%;
padding-right: 13%;
}