#title {
  font-family: fantasy;
  font-size: 13pt;
  font-weight: bolder;
}

#price {
  font-family: fantasy;
}

#description {
  font-family: fantasy;
  font-size: 9pt;
}

h3 {
  font-family: fantasy;
  font-size: 30pt;
}
